@using Microsoft.AspNetCore.Mvc.Localization
@inject IViewLocalizer ViewLocalizer

@model IEnumerable<ProgrammingForum_ASPNETCore.Models.TopicModels.TopicViewModel>

@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4"> @ViewLocalizer["Welcome"] </h1>
</div>

<div class="row d-flex justify-content-around">
    @if (Model != null)
    {
        @foreach (ProgrammingForum_ASPNETCore.Models.TopicModels.TopicViewModel topic in Model)
        {
            <div class="col-md-3 offset-1">
                <div class="card">
                    @{
                        if (topic.Image != null)
                        {
                            string imageBase64 = Convert.ToBase64String(topic.Image);
                            string imageSrc = string.Format("data:image/gif;base64,{0}", imageBase64);
                            <img src="@imageSrc" width="100" height="100" />
                        }
                    }
                    <img class="card-img-top">
                    <div class="card-body">
                        <p class="card-text">@Html.ActionLink(topic.Name, "Posts", "Topic", new {id = topic.Id}) </p>
                    </div>
                </div>
            </div>
        }
    }
</div>
