@model IEnumerable<ProgrammingForum_ASPNETCore.Models.TopicModels.TopicViewModel>

@{
    ViewData["Title"] = "Home Page";
}


<div class="text-center">
    <h1 class="display-4">Welcome</h1>
</div>

<div>
    @if (Model != null)
    {
        @foreach (ProgrammingForum_ASPNETCore.Models.TopicModels.TopicViewModel topic in Model)
        {
            <p>@Html.ActionLink(topic.Name, "Posts", "Topic", new {id = topic.Id}) </p>
        }
    }
</div>
