@using ProgrammingForum_ASPNETCore.Models.PostReplyModels
@model IEnumerable<ProgrammingForum_ASPNETCore.Models.PostReplyModels.PostReplyViewModel>



@{
    void ShowReplies(IEnumerable<PostReplyViewModel> replies)
    {
        <ul>
            @foreach (var r in replies)
            {
                <li>
                    @Html.DisplayFor(m => r.ContentReply)
                    <button class=" btn btn-outline-secondary" onclick="AreaForReplyToReply(@r.Id)"> <i class="fa-regular fa-comment"></i> </button>
                    @Html.Partial("~/Views/PostReply/_ReplyToReplyFormPartial.cshtml", new PostReplyCreateModel { ParentReplyId = r.Id, PostId = r.PostId, AuthorName = User.Identity.Name})

                    @if (r.Replies.Any())
                    {
                        ShowReplies(r.Replies);
                    }

                </li>
            }
        </ul>
    }
} 

<div>
    @if (Model != null)
    {
        ShowReplies(Model);
    }
</div>