@model int

<div id="reply-@Model" class="col-md-7" style="display:none">

    <div class="form-horizontal">

        <div class="form-group">
            <div class="col-md-12">
                <textarea placeholder="Reply..." id="replytoreply-@Model" class="form-control" rows="2"></textarea>
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-1">
                <p>@ViewBag.Message</p>
                <button type="button" class="btn btn-secondary" onclick="SendReplyToReply(@Model)"> Add comment </button>
            </div>
        </div>
    </div>
</div>



<script>

    function AreaForReplyToReply(id) {
        var rep = document.getElementById("reply-" + id);

        if (rep.style.display === 'none') {
            rep.style.display = 'block';
        } else {
            rep.style.display = 'none';
        }
    }

    function SendReplyToReply(id) {
        var parentId = id;
        var contentReply = document.getElementById("replytoreply-" + id).value;
        var data = { parentId: parentId, contentReply: contentReply };

        $.ajax({
            type: 'post',
            url: '/PostReply/CreateReplyToReply',
            data: data,
            success: function (response) {
                $("#replies").html(response);
                $("#replytoreply-" + id).value = "";
            }
        })
    }
</script>